MEMORY {
  RAM:    start = $0200, size = $7E00, type = rw, file = "";
  ROM:    start = $F800, size = $0800, type = ro, define = yes, file = "rom.bin";
}

SEGMENTS {
  BSS:    load = RAM, type = bss, align = 2;
  CODE:   load = ROM, type = ro,  align = 2;
  RODATA: load = ROM, type = ro,  align = 2;
  VECTOR: load = ROM, type = ro,  start = $FFFA;
}
